<section>
  <header class="section-header">
    <h2>Checks</h2>
  </header>

  <pre class="commit-checks"><code data-status="<%= commit.checks.status %>" data-next-chunks-url=""><%= commit.checks.fetch %></code></pre>
</section>
